// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

//// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: black !important;
  color: white !important;
  font-family: "Calibri Light", sans-serif;
}

//100% Height
html, body {
  height: 100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

//Flexing
.flex{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}




